<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677224566709-b89j27nfju5el7hvf9qbhravq48c5iri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677224566709-b89j27nfju5el7hvf9qbhravq48c5iri</string>
	<key>API_KEY</key>
	<string>AIzaSyDBJjVQLC6rYpMsF6Chy1rJYqqc5UXPi1E</string>
	<key>GCM_SENDER_ID</key>
	<string>677224566709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.hultergard.expensetrack</string>
	<key>PROJECT_ID</key>
	<string>expenses-tracker-8ef0a</string>
	<key>STORAGE_BUCKET</key>
	<string>expenses-tracker-8ef0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677224566709:ios:c579b7d2fd01b77a6253fc</string>
</dict>
</plist>